<div class= "container">
	<div class="row">
		<div class="col-xs-3 bod">
			<h3>Must East</h3>
			<div class="burgers">
				<ul>
					{{#each burgs}}
						{{#unless this.devoured}}
							<li>
				  	   <p>{{this.burger_name}}</p>
				  		</li>
	 					{{/unless}}
					{{/each}}
	 			</ul>
			</div>
		</div>

		<div class="col-xs-6 bod">
			<h1>Eat Da Burger</h1>

			<form action="/addBurger" method= "POST">
				<div class="form-group">
					<textarea class=" input-lg" name="burgerInput"></textarea>
				</div>

				<button class="btn btn-default" type="submit">Submit</button>
			</form>
		</div>

		<div class="col-xs-3 bod">
			<h3>Already Eaten</h3>
			<div class="burgersEaten">
				<ul>
					{{#each burgs}}
						{{#if this.devoured}}
							<li>
								<p>{{this.burger_name}}</p>
							</li>
						{{/if}}
					{{/each}}
				</ul>
			</div>
		</div>

	</div>
</div>