*{
	text-align: center;
}

li{
	list-style-type: none;
	height: 50px;
	/*width: 300px;*/
	border: 1px solid grey;
}

.burgers, .burgersEaten{
	margin-top: 100px;
}

ul{
	padding-left:0;
}

.bod{
	border: 1px solid red;
}